@import url('http://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact
{
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(cute.jpg);
    background-size: cover;

}
.contact .content
{
    max-width: 800px;
    text-align: center;

}
.contact .content
{
    font-size: 36px;
    font-weight: 500;
    color: green;


}
.contact .content

{
   
    font-weight:300;
    color: black;
}
.container
{
    width: 100;
    display: flex;
    justify-content:center;
    align-content: center;
    margin-top: 30px;
}
.container .contactInfomation
{
    width: 50;
    display: flex;
    flex-direction: column;
}
.container .contactInfomation .box
{
    position: relative;
    padding: 20px 0;

}
.container .contactInfomation .box .icon
{
    min-width: 60;
    height: 60;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50;
    font-size: 20;
}
.container .contactInfomation .box .text
{
    display: flex;
    margin-left: 20px;
    font-size:   16;
    color:black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfomation .box .text h3
{
    font-weight: 500;
    color: black;

}
.contactform
{
    width: 40%;
    padding: 40;
    background: whitesmoke;
}
.contactform h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactform .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;


}




