@import url('http://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background: url(cutie.jpg);
    background-size: cover;

}
.contact .content
{
   
    max-width: 800px;
    text-align: center;

}
.contact .content h2
{
   
    font-size: 50px;
    font-weight: 500;
    color:#333;


}
.contact .content p

{
   font-size: 25px;
    font-weight:500;
    color: black;
}
.Container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.Container .ContactInfo
{
   
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .ContactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container .ContactInfo .box.icon
{
    min-width: 30px;
    height: 30px;
    background:rgb(161, 210, 226);
    display: flex;
    justify-content: left;
    align-items: end;
    border-radius: 10%;
    font-size: 10px;
}
.container .ContactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size:   16px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}
.container .ContactInfo .box .text h3
{
    font-weight: 500;
    color:black;


}
.contactForm
{
   width: 50%;
   padding: 60px;
   background: #3332;
   

    
}
.contactForm h2
{
    font-size: 30px;
    font-style: normal;
 color:black;
 font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox input textarea
{

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #89CFF9;
    outline: none;

}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: 		black;


}
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span
{
    color:black ;
    font-size: 14px;
    transform: translateY(-20px);
    font-weight: 500;
}

.contactForm .inputBox input[type="Submit"]
{
    width: 50px;
    background:	#89CFF9;
    color:black;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
}


    









